@import '../variables.module';

.about__section {
    padding-top: 7rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    position: relative;
    @media screen and (min-width: 768px) {
        width: 100%;
        padding-bottom: 2rem;
        margin-top: 2rem;
        padding-top: 9rem;
        text-align: left;
    }
    @media screen and (min-width: 1312px) {
        margin-top: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .about__container {
        @media screen and (min-width: 768px) {
            display: flex;
            margin: 0 auto;
            flex-direction: row;
            width: 70%;   
        }
        @media screen and (min-width: 1312px) {
            width: 65%;
            padding-top: 6.5rem;
            flex-direction: column;
        }
        h1 {
            font-family: $headerFont;
            font-weight: 700;
            color: currentColor;
            font-size: $headerFontSize;
            position: relative;
            height: 100%;
            @media screen and (min-width: 768px) {
                width: 100%;                    
                padding: 0;
                background: none;
                line-height: 3.5rem;
            }
            span {
                color: $offRed;
                font-weight: 600;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: -1rem;
                left: 0;
                height: .8rem;
                width: 4rem;
                border-radius: 2rem;
                background-color: $offTeal;
                @media screen and (min-width: 768px) {
                    bottom: -1.5rem;
                }
            }
        }
        .about__text {
            display: flex;
            margin-top: $mobileHeaderMargin;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            @media screen and (min-width: 768px) {
                margin-left: 1rem;
                margin-top: .5rem;
            }
            @media screen and (min-width: 1312px) {
                margin-left: 0;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                margin-top: $headerMargin;
                width: 100%;
            }
            p {
                font-size: $mobileBodyFontSize;
                font-weight: 400;
                color: $darkModeGrey;
                @media screen and (min-width: 768px) {
                    margin-left: .5rem;
                    font-size: 1rem;
                    width: 100%;
                    text-align: left;
                }
                @media screen and (min-width: 1312px) {
                    margin-top: 1.5rem;
                    margin-left: 0;
                    width: 65%;
                }
                span {
                    color: $offTeal;
                }
            }
            .aboutImage {
                display:flex;
                position: relative;
                margin-left: auto;
                object-fit: contain;
                margin-top: 2.5rem;
                transition: .3s ease-in-out;
                z-index: 10;
                border-radius: 50%;
                justify-content: flex-end;
                margin-top:0rem;
                img {
                    position:static !important;
                    border-radius:50%;
                    margin-left: auto;
                    transition: .3s ease-in-out;
                    filter: grayscale(100);
                    @media screen and (min-width: 768px) {
                        width: 80%;
                        margin-left: 0;
                        margin-top: 4rem;
                        max-width: 300px;
                    }
                    @media screen and (min-width: 1312px) {
                        margin: 2rem 0 0 auto;
                        width: 30%;
                        margin-top: 0;
                    }
                    &:hover {
                        box-shadow:
                        1px 1px $offTeal,
                        2px 2px $offTeal,
                        3px 3px $offTeal;
                        filter: grayscale(0);
                        -webkit-transform: translateX(-3px);
                        transform: translateX(-3px);
                        transition: .3s ease-in-out;
                    }
                }
                
            }
        }
    }
    
}
