@import '../variables.module';

.about__section {
    padding-top: 7rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    position: relative;
    .bg-about {
        position: absolute;
        opacity: .025;
        color: currentColor;
        font-weight: 500;
        top: 6rem;
        left: -3.5rem;
        font-size: 6rem;
    }
    h1 {
        font-family: $headerFont;
        font-weight: 700;
        color: currentColor;
        font-size: $mobileHeaderFontSize;
        position: relative;
        height: 100%;
        span {
            color: $offRed;
            font-weight: 600;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: -1rem;
            left: 0;
            height: .8rem;
            width: 4rem;
            border-radius: 2rem;
            background-color: $offTeal;
        }
    }
    .about__text {
        display: flex;
        margin-top: $mobileHeaderMargin;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        p {
            font-size: $mobileBodyFontSize;
            font-weight: 400;
            color: $darkModeGrey;
            span {
                color: $offTeal;
            }
        }
        img {
            position: relative;
            margin-left: auto;
            width: 60%;
            object-fit: contain;
            margin-top: 2.5rem;
            transition: .3s ease;
            z-index: 10;
            border-radius: 50%;
            filter: grayscale(100);
            &:hover {
                box-shadow:
                1px 1px #373737,
                2px 2px #373737,
                3px 3px #373737;
                -webkit-transform: translateX(-3px);
                transform: translateX(-3px);
                filter: grayscale(0);
                transition: .3s ease;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .about__section {
        width: 100%;
        padding-bottom: 2rem;
        margin-top: 2rem;
        padding-top: 9rem;
        text-align: left;
        .about__container {
            display: flex;
            margin: 0 auto;
            flex-direction: row;
            width: 70%;
            h1 {
                width: 100%;                    
                font-size: $tabletHeaderFontSize;
                padding: 0;
                background: none;
                line-height: 3.5rem;
                &::after {
                    bottom: -1.5rem;
                }
            }
            .about__text {
                margin-left: 1rem;
                margin-top: .5rem;
                p {
                    font-size: $tabletBodyFontSize;
                    margin-left: .5rem;
                    font-size: 1rem;
                    width: 100%;
                    text-align: left;
                }
                img {
                    width: 80%;
                    margin-left: 0;
                    margin-top: 4rem;
                    max-width: 300px;
                }
            }
            
        }
        .bg-about {
            opacity: .01;
            top: 14rem;
            left: -18rem;
            font-size: 35rem;
        }
        .bg-about2 {
            opacity: .025;
            font-weight: 500;
            display: none;
        }
        
    }
}

@media screen and (min-width: 1312px) {
    .about__section {
        margin-top: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        .about__container {
            width: 65%;
            padding-top: 6.5rem;
            flex-direction: column;
            h1 {
                font-size: $desktopHeaderFontSize;
            }
            .about__text {
                margin-left: 0;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                margin-top: $headerMargin;
                width: 100%;
                p {
                    font-size: $desktopBodyFontSize;
                    margin-top: 0;
                    margin-left: 0;
                    width: 65%;
                }
                img {
                    margin: 2rem 0 0 auto;
                    width: 30%;
                    margin-top: 0;
                }
            }
            
        }
        .bg-about {
            position: absolute;
            opacity: .01;
            color: $offWhite;
            font-weight: 500;
            top: 5rem;
            left: -5rem;
            font-size: 35rem;
        }
    }
}