@import '../variables.module';

.alt {
    box-shadow:none !important;
    height: 5rem !important;
    background-color:transparent !important;
    @media screen and (min-width: 1312px) {
        height: 10rem !important;
    }
    
    .backIcon {
        margin-top: 0rem;
        font-size: 2.5rem;
        margin-left: 0rem;
        transition: 200ms ease-in;
        @media screen and (min-width: 768px) {
            font-size:4rem;
            margin-left: 0rem;
            margin-top: 2rem;
            margin-left: 1rem;
        }
        @media screen and (min-width: 1312px) {
            font-size:4rem;
            margin-left: -1.5rem;
        }
        &:hover { 
            color: $offTeal;
        }
    }
    .active {

    }
    &.nav__hidden {
            transform: translateY(0rem);
    }
}

