.contact__section {
    padding-top: 5rem;
    margin-top: -3rem;
    height: 100%;
    @media screen and (min-width: 768px) {
        padding-top: 8rem;
        margin-top: 8rem;
        width: 100%;
    }
    @media screen and (min-width: 1312px) {
        margin-top: 2rem;
        padding-top: 11rem;
    }
    .contact__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        position: relative;
        @media screen and (min-width: 768px) {
            width: 88%;
            margin: 0 auto;
        }
        @media screen and (min-width: 1312px) {
            width: 65%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: left;
        }
        .bg__contact {
            display: block;
            font-size: 30rem;
            top: -11rem;
            left: -6rem;
            position: absolute;
            
            font-weight: 500;
            color: $offWhite;
            opacity: .01;
            @media screen and (min-width: 1312px) {
                font-size: 35rem;
                opacity: .01;
                color: $offWhite;
                top: 0rem;
                left: -25rem;
            }
        }
        .contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            @media screen and (min-width: 768px) {
                width: 70%;
                align-items: center;
            }
            @media screen and (min-width: 1312px) {
                justify-content: flex-start;
                align-items: flex-start;
                margin-top: 2rem;
            }
            .contact__header {
                width: 75%;
                margin: 0 auto;
                margin-bottom: 1rem;
                @media screen and (min-width: 768px) {
                    text-align: center;
                }
                @media screen and (min-width: 1312px) { 
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    text-align: left;
                    margin: 0 0 2rem 0;
                }
                h1 {
                    font-family: $headerFont;
                    font-weight: 700;
                    position: relative;
                    font-size: $headerFont;
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -.3rem;
                        left: 0;
                        height: .8rem;
                        width: 4rem;
                        border-radius: 2rem;
                        background-color: $offTeal;
                    }
                }
                a {
                    @media screen and (min-width: 1312px) { 
                        width: 100%;
                    }
                    h2 {
                        @media screen and (min-width: 1312px) { 
                            font-size: clamp(1.6rem, 2vh, 1.8rem);
                        } 
                    }
                }
            }
            .contact__text {
                margin-bottom: 0;
                @media screen and (min-width: 768px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                @media screen and (min-width: 1312px) { 
                    margin-top: 0rem;
                    align-items: flex-start;
                    justify-content: flex-end;
                } 
                p {
                    margin: 0 auto;
                    width: 75%;
                    margin-top: $headerMargin;
                    font-size: 1rem;
                    color: $darkModeGrey;
                    @media screen and (min-width: 768px) {
                        font-size: $mobileBodyFontSize;
                        text-align: center;
                        width: 100%;
                    }
                    @media screen and (min-width: 1312px) {
                        text-align: left;
                        width: 80%;
                        margin: 0;
                        font-size: 1.1rem;
                    }
                    span {
                        color: $offTeal;
                    }
                }
                .contact__mail {
                    display: flex;
                    width: 75%;
                    margin: 0 auto;
                    margin-top: 2rem;
                    position:relative;
                    @media screen and (min-width: 768px) {
                        display: flex;
                        justify-content: center;
                        width: 60%;
                        margin-top: 2rem;
                    }
                    @media screen and (min-width: 1312px) {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin: 0;
                        margin-top: 1.5rem;
                    }
                    .icon {
                        font-size: 2rem;
                        position: absolute;
                        @media screen and (min-width: 768px) {
                            left:0;
                        }
                        @media screen and (min-width: 1312px) {
                            font-size: 3rem;
                        }
                    }
                    a { 
                        margin-left: 3.5rem;
                        text-decoration: none;
                        color: $darkModeGrey;
                        display: flex;
                        align-items: center;
                        width: 100%;
                        @media screen and (min-width: 768px) {
                            margin-left: 7rem;
                        }
                        @media screen and (min-width: 768px) {
                            margin-left: 5.5rem;
                        }
                        h2 {
                            font-weight: 400;
                            font-size: 1.1rem;
                            width: 100%;
                            @media screen and (min-width: 1312px) {
                                align-items: flex-start;
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
                .contact__phone {
                    display: flex;
                    width: 75%;
                    margin: 1rem auto;
                    align-items: center;
                    @media screen and (min-width: 768px) {
                        display: flex;
                        margin: 1rem auto;
                        width: 40%;
                        justify-content: center;
                    }
                    @media screen and (min-width: 1312px) {
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        margin: 0;
                        margin-top: 1rem;
                        width: 100%;
                    }
                    .icon {
                        margin-left: 0.2rem;
                        width: 2.5rem;
                        @media screen and (min-width: 1312px) {
                            width: 3rem;
                        }
                    }
                    h2 {
                        font-weight: 400;
                        font-size: 1.1rem;
                        width: 100%;
                        margin-left: 1.75rem;
                        @media screen and (min-width: 1312px) {
                            font-size: 1.3rem;
                        }
                    }
                }
                .contact__cta {
                    display: flex;
                    width: 75%;
                    margin: 2rem auto;
                    align-items: center;
                    @media screen and (min-width: 768px) {
                        text-align: center;
                        margin-left: 2rem;
                        margin: 1rem auto;
                    }
                    @media screen and (min-width: 1312px) {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin: 0;
                    }
                    h2 {
                        font-family: 'Helvetica Neue', sans-serif;
                        font-weight: 600;
                        font-size: 1.3rem;
                        color: $darkModeGrey;
                        width: 100%;
                        @media screen and (min-width: 1312px) {
                            align-items: flex-start;
                            text-align: left;
                            margin-top: 3rem;
                            margin-left: .2rem;
                            font-size: 1.3rem;
                        }
                        span {
                            color: $offTeal;
                        }
                    }
                }
            }
        }
        .contact__form {
            display: flex;
            position: relative;
            width: 82%;
            flex-direction: column;
            margin-left: 0;
            margin-top: -1rem;
            padding-bottom: 3rem;
            @media screen and (min-width: 768px) {
                margin-top: 2rem;
                width: 70%;
            }
            @media screen and (min-width: 1312px) {
                margin-top: 0rem;
                width: 60%;
            }
            .text__field {
                margin-bottom: .5rem;
                width: 90%;
                position: relative;
                height: 60px;
                overflow: hidden;
                margin: auto;
                margin-top: 1rem;
                @media screen and (min-width: 1312px) {
                    height: 4rem;
                    width: 100%;
                }
                input {
                    width: 100%;
                    height: 100%;
                    color: $offWhite;
                    padding-top: 20px;
                    border: none;
                    background: none;
                    margin-top: -12px;
                    margin-left: -1px;
                    font-size: 1rem;
                    outline: none;
                    &:focus + .label-name .content-name,
                    &:valid + .label-name .content-name {
                        transform: translateY(-150%);
                        font-size: .9rem;
                        background: none;
                    }
                    &:focus + .label-name::after,
                    &:valid + .label-name::after {
                        transform: translateX(0%);
                        background: none;
                    }
                }
                label {
                    position: absolute;
                    bottom: 0px;
                    left: 0%;
                    color: currentColor;
                    margin-bottom: 1px;
                    width: 100%;
                    height: 100%;
                    font-size: 1.1rem;
                    pointer-events: none;
                    opacity: 0.9;
                    border-bottom: 1px solid currentColor;
                    &::after {
                        content: "";
                        position: absolute;
                        opacity: 1;
                        left: 0px;
                        bottom: -1px;
                        height: 100%;
                        width: 100%;
                        background: none;
                        border-bottom: 2px solid currentColor;
                        transform: translateX(-100%);
                        transition: 0.5s;
                    }
                }
                .content-name {
                    position: absolute;
                    bottom: 5px;
                    margin-top: -10px;
                    color: $offWhite;
                    left: 0px;
                    transition: all 0.3s ease;
                }
            }
            .text__area {
                margin: 1rem auto 20px auto;
                width: 90%;
                position: relative;
                height: 10rem;
                overflow: hidden;
                @media screen and (min-width: 1312px) {
                    margin-top: 2rem;
                    width: 100%;
                    position: relative;
                    height: 12rem;
                    overflow: hidden;
                }
                textarea {
                    width: 100%;
                    height: 100%;
                    color: $offWhite;
                    padding-top: 35px;
                    border: none;
                    background: none;
                    margin-top: -12px;
                    margin-left: -1px;
                    font-size: 1rem;
                    outline: none;
                    &:focus + .label-name .content-name,
                    &:valid + .label-name .content-name {
                        transform: translateY(-75%);
                        font-size: .9rem;
                        background: none;
                    }
                    &:focus + .label-name::after,
                    &:valid + .label-name::after {
                        transform: translateX(0%);
                        background: none;
                    }
                }
                label {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    margin-bottom: 1px;
                    width: 100%;
                    height: 100%;
                    background: none;
                    font-size: 1.1rem;
                    pointer-events: none;
                    opacity: 0.9;
                    border-bottom: 1px solid currentColor;
                    &::after {
                        content: "";
                        position: absolute;
                        opacity: 1;
                        left: 0px;
                        bottom: -1px;
                        height: 100%;
                        width: 100%;
                        border-bottom: 2px solid currentColor;
                        transform: translateX(-150%);
                        transition: 0.5s;
                    }
                }
                .content-name {
                    position: absolute;
                    top: 1rem;
                    left: 0px;
                    transition: all 0.3s ease;
                }
            }
        }
    }
    .send__btn {
        background-color: $offWhite;
        color: $offBlack;
        border: 1px solid $offWhite;
        position: relative;
        outline: none;
        font-size: 1.1rem;
        padding: .6rem 1rem;
        border: 1.1px solid $offBlack;
        font-weight: 500;
        text-transform: uppercase;
        z-index: 1;
        border-radius: 3px;
        margin-left: auto;
        margin-right: 1.5rem;
        margin-top: 2.5rem;
        max-width: 12rem;
        transition: 300ms ease-in-out;
        @media screen and (min-width: 768px) {
            margin-top: 3rem; 
        }
        @media screen and (min-width: 1312px) {
            margin: 0;
            max-width: 13.5rem;
            font-size: 1.2rem;
            padding: .6rem 1.5rem;
            margin-top: 2.5rem;
        }
        &:hover,
        &:focus {
            transform: translateY(-0.25em);
            color: $offWhite;
            z-index: 1;
            cursor: none;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 2px;
            right: 0;
            z-index: -1;
            background-color: $offBlack;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 300ms ease-in-out;
            outline: none;
        }
        &:hover::before,
        &:focus::before {
            transform: scaleX(1);
        }
        
    }
    .sent {
        pointer-events: none;
        background-color: $offWhite;
        color: $offBlack;
    }
    .bg__contact2 {
        display: none;
    }
}