@import '../variables.module';

.footer__section {
    width: 75%;
    margin: 5rem auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 7vh;
    .footer__links {
        display: flex;
        justify-content: space-between;
        width: 85%;
        align-items: center;
        margin: 1rem 0 1.5rem 0;
        p {
            font-weight: 200;
            margin: 0;
            font-size: 1.1rem;
        }
    }
    .footer__logo2 {
        display: none;
    }
    .footer__icons {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $offWhite;
        margin: 1rem 0 1.5rem 0;
        .li__icon {
            font-size: 3rem;
            margin: 0 20px;
        }
        .gh__icon {
            font-size: 2.5rem;
            margin: 0 20px;
        }
        .link {
            color: currentColor;
        }
    }
    .footer__copyright {
        display: flex;
        align-items: center;
        margin-bottom: 6rem;
        margin-top: 1rem;
        p {
            font-weight: 400;
            font-size: .9rem;
            color: $darkModeGrey;
            span {
                color: $offTeal;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .footer__section {
        width: 60%;
        .footer__links {
            margin-bottom: .5rem;
        }
        .footer__logo2 {
            display: flex;
            height: 4rem;
            margin: 1.5rem 0;
        }
        .footer__icons {
            display: none;
        }
    }
}

@media screen and (min-width: 1312px) {
    .footer__section {
        margin-top: 8rem;
        width: 30%;
        .footer__links {
            display: flex;
            align-items: center;
            p {
                margin: 0 1.5rem;
                font-weight: 300;
                font-size: 1.2rem;
            }
        }
        .footer__logo2 {
            height: 4rem;
            margin: .5rem 0;
        }
        .footer__copyright {
            margin-bottom: 9rem;
            display: flex;
            align-items: center;
            p {
                font-size: .9rem;
            }
        }
    }
}