@import '../variables.module';

.hero__section {
    display: flex;
    flex-direction: column;
    padding-top: 22vh;
    background: none;
    width: 78%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    .hero__text {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        text-align: left;
        justify-content: flex-start;
        background: none;
        h2 {
            font-weight: 400;
            font-size: 1.3rem;
            margin-bottom: .2rem;
        }
        .swipe__text {
            position: relative;
            h1 {
                font-size: 5rem;
                background: none;
                font-family: $headerFont;
                font-weight: 700;
                opacity: 0;
                animation: fade 0.01s linear 1.5s forwards;
                animation-delay: 1.5s;
            }
            h3 {
                margin-top: -1rem;
                width: auto;
                font-weight: 400;
                font-size: clamp(1.4rem, 3.5vw, 2.3rem);
                background: none;
                opacity: 0;
                color: $darkModeGrey;
                animation: fade 0.01s linear 1.5s forwards;
                animation-delay: 1.5s;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 100%;
                width: 0;
                bottom: 0;
                z-index: 1;
                background-color: $offTeal;
                animation: swipe-text 1s ease-in-out 1s forwards;
            }
            span {
                color: $offTeal;
            }
        }
        .secondary {
            width: 80%;
            &::after {
                background-color: $offTeal;
            }
        }
    }
    .download__btn {
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 7rem;
        z-index: 99;
        button {
            text-decoration: none;
            padding: .6rem 1rem;
            background-color: $offWhite;
            position: relative;
            text-transform: uppercase;
            color: $offWhite;
            border: 1px solid $offWhite;
            outline: none;
            text-decoration: none;
            font-size: 1.1rem;
            font-weight: 500;
            border-radius: 3px;
            transition: 300ms ease-in-out;
            a {
                color: $offBlack;
                transition: 300ms ease-in-out;
                text-decoration: none;
                position: relative;
                z-index: 99;
            }
            .icon {
                width: 20px;
                height: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: opacity 1s;
                opacity: 0;
                display: flex;
            }
            .icon:nth-child(3) {
                opacity: 0;
            }
            &::before {
                content: '';
                position: absolute;
                outline: none;
                border: none;
                top: 0;
                left: 0;
                bottom: 2px;
                right: 0;
                z-index: -1;
                background-color: $offBlack;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 300ms ease-in-out;
            }
            &:hover::before,
            &:focus::before {
                transform: scaleX(1);
            }
            &:hover,
            &:focus {
                transform: translateY(-0.25em);
            }
            &:hover a,
            &:focus a {
                color: $offWhite;
            }
        }
        h2 {
            display: none;
        }
    }
    .download__btn.active {
        position: fixed;
        bottom: 0;
        right: 0;
        transition: 500ms ease-in-out;
        display: none;
        button {
            &:hover,
            &:focus {
                opacity: .7;
            }
            &:hover a,
            &:focus a {
                color: $offBlack;
            }
        }
    }
    .clicked {
        button {
            height: 40px;
            width: 40px;
            padding: 0;
            border-radius: 50%;
            .icon {
                color: $offBlack;
            }
            a {
                display: none;
            }
            &::before {
                display: none;
            }
        }
        h2 {
            display: block;
            margin-left: 1rem;
        }
    }
    .scroll__btn {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 30px;
        margin-top: 7rem;
        margin-bottom: 1rem;
        height: 50px;
        .mouse {
            display: flex;
            align-content: center;
            justify-content: center;
            padding: 8px 8px;
            height: 30px;
            border: 2px solid $offTeal;
            border-radius: 25px;
            box-sizing: content-box;
            .scroller {
                width: 9px;
                height: 9px;
                border-radius: 25px;
                background-color: $offTeal;
                animation-name: scroller;
                animation-duration: 3s;
                animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
                animation-iteration-count: infinite;
            }
        }
    }
}

@keyframes swipe-text {
    0% {
        width: 0%;
        right: 100%;
        left: 0;
    }
    50% {
        left:0;
        width: 100%;
        right: 0%;
    }
    100% {
        width: 0%;
        left: 100%;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scroller {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

@media screen and (min-width: 768px) {
    .hero__section {
        padding-top: 25vh;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 15%;
        .hit__lightsDiv {
            position: absolute;
            top: 15%;
            right: 5%;
            z-index: 100;
            height: 0;
            .lights {
                width: 120px;
            }
            .arrow {
                margin-left: 1.5rem;
                margin-bottom: 1rem;
            }
        }
        .hero__text {
            margin-left: 0;
            .swipe__text {
                width: 100%;
                position: relative;
                h1 {
                    font-size: 6rem;
                }
                h2 {
                    margin-top: -1rem;
                }
                h3 {
                    margin-top: -1.5rem;
                }
            }
            .download__btn {
                button {
                    .download {
                        display: none;
                        opacity: 0;
                    }
                }
            }
            .download__btn.active {
                display: block;
                bottom: 4rem;
                right: 3rem;
                button {
                    height: 45px;
                    width: 45px;
                    padding: 0;
                    border-radius: 50%;
                    .span {
                        display: none;
                    }
                    .download {
                        display: block;
                        opacity: 1;
                        transform: scale(.8);
                        .icon {
                            opacity: 1;
                            width: 30px;
                            height: 30px;
                            margin-top: -.1rem;
                            margin-left: .1rem;
                        }
                    }
                    &::before {
                        display: none;
                    }
                }
                &:hover {
                    opacity: .7;
                }
            }
            .clicked {
                .download {
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 1312px) {
    .hero__section {
        display: flex;
        flex-direction: column;
        padding-top: 27vh;
        background: none;
        margin-left: 18%;
        .hit__lightsDiv {
            position: absolute;
            top: 20%;
            right: 19%;
            z-index: 100;
            .lights {
                width: 130px;
                margin-bottom: -1rem;
            }
            .arrow {
                margin-left: 0;
                margin-bottom: 0;
                width: 75px;
                height: 75px;
            }
        }
        .hero__text {
            height: 22rem;
            margin-left: 0;
            .swipe__text {
                width: 100%;
                position: relative;
                h1 {
                    margin-top: -.5rem;
                    height: 12rem;
                    font-size: 8rem;
                    background: none;
                    font-family: $headerFont;
                    opacity: 0;
                    animation: fade 0.01s linear 1.5s forwards;
                    margin-bottom: -1.5rem;
                }
                h2 {
                    margin-top: -2rem;
                    background: none;
                    opacity: 0;
                    animation: fade 0.01s linear 1.5s forwards;
                }
            }
            .secondary {
                padding-top: .5rem;
                width: 100%;
            }
            .download__btn {
                bottom: 2rem;
                margin-left: .3rem;
                .icon {
                    width: 40px;
                    height: 40px;
                }
                button {
                    font-weight: 500;
                    padding: .6rem 1.5rem;
                    margin-left: -.3rem;
                    font-size: 1.2rem;
                    
                }
                .link {
                    text-decoration: none;
                    position: relative;
                    z-index: 99;
                }
            }
            .download__btn.active {
                display: flex;
                flex-direction: column-reverse;
                bottom: 8rem;
                right: 10rem;
                transition: 200ms ease-in;
                button {
                    height: 52px;
                    width: 52px;
                    .download {
                        transform: scale(.9);
                        .icon {
                            margin-left: 0.08rem;
                        }
                    }
                    &::before {
                        display: none;
                    }
                    &:hover,
                    &:focus {
                        transform: scale(1.1);
                        opacity: .7;
                    }
                    &:hover a,
                    &:focus a {
                        color: $offWhite;
                    }
                }
                h2 {
                    margin-left: -.5rem;
                    margin-bottom: 1rem;
                }
            }
            .clicked {
                padding: 0;
                button {
                    height: 50px;
                    width: 50px;
                    .download {
                        display: none;
                        .icon {
                            display: none;
                        }
                    }
                    .icon {
                        width: 28px;
                        height: 28px;
                    }
                }
            }
        }
        .scroll__btn {
            display: none;
        }
    }
}