@import '../variables.module';

.hero__section {
    display: flex;
    flex-direction: column;
    padding-top: 22vh;
    background: none;
    width: 78%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    @media screen and (min-width: 768px) {
        padding-top: 25vh;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 15%;
    }

    @media screen and (min-width: 1312px) {
        display: flex;
        flex-direction: column;
        padding-top: 27vh;
        background: none;
        margin-left: 18%;
    }

    .hero__text {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        text-align: left;
        justify-content: flex-start;
        background: none;

        @media screen and (min-width: 768px) {
            margin-left: 0;
        }

        @media screen and (min-width: 1312px) {
            height: 22rem;
            margin-left: 0;

        }
        h2 {
            font-weight: 400;
            font-size: 1.3rem;
            margin-bottom: .2rem;
        }

        .swipe__text {
            position: relative;

            @media screen and (min-width: 768px) {
                width: 100%;
            }

            
            h1 {
                font-size: $heroTitleSize;
                background: none;
                font-family: $headerFont;
                font-weight: 700;
                opacity: 0;
                animation: fade 0.01s linear 1.5s forwards;
                animation-delay: 1s;
                @media screen and (min-width: 1312px) {
                    margin-top: -.5rem;
                    height: 12rem;
                    margin-bottom: -1.5rem;
                }
            }

            h3 {
                margin-top: -1rem;
                width: auto;
                font-weight: 400;
                font-size: clamp(1.4rem, 3.5vw, 2.3rem);
                background: none;
                opacity: 0;
                color: $darkModeGrey;
                animation: fade 0.01s linear 1s forwards;
                animation-delay: 1s;

                @media screen and (min-width: 768px) {
                    margin-top: -1.5rem;
                }
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 100%;
                width: 0;
                bottom: 0;
                z-index: 1;
                background-color: $offTeal;
                animation: swipe-text 1s ease-in-out .5s forwards;
            }

            span {
                color: $offTeal;
            }
        }

        .secondary {
            width: 80%;
            @media screen and (min-width: 1312px) {
                padding-top: .5rem;
                width: 100%;
            }
            &::after {
                background-color: $offTeal;
            }
        }
    }

    .download__btn {
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 7rem;
        @media screen and (min-width: 1312px) {
            bottom: 2rem;
            margin-left: .3rem;
        }
        button {
            text-decoration: none;
            padding: .6rem 1rem;
            position: relative;
            text-transform: uppercase;
            color: $offWhite;
            border: 1px solid $offWhite;
            outline: none;
            text-decoration: none;
            font-size: 1.1rem;
            font-weight: 500;
            border-radius: 3px;
            transition: transform 300ms ease-in-out;

            @media screen and (min-width: 768px) {
                .download {
                    display: none;
                    opacity: 0;
                }
            }

            @media screen and (min-width: 1312px) {
                    font-weight: 500;
                    padding: .6rem 1.5rem;
                    margin-left: -.3rem;
                    font-size: 1.2rem;
            }

            .link {
                @media screen and (min-width: 1312px) {
                    text-decoration: none;
                    position: relative;
                    z-index: 99;
                }
            }

            a {
                color: $offBlack;
                transition: 300ms ease-in-out;
                text-decoration: none;
                position: relative;
                z-index: 99;
            }

            .icon {
                font-size:1.8rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: opacity 1s transform 1s;
                display: flex;

            }

            .icon:nth-child(3) {
                opacity: 0;
            }

            &::before {
                content: '';
                position: absolute;
                outline: none;
                border: none;
                top: 0;
                left: 0;
                bottom: 2px;
                right: 0;
                z-index: -1;
                background-color: $offBlack;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 300ms ease-in-out;
            }

            &:hover::before,
            &:focus::before {
                transform: scaleX(1);
            }

            &:hover,
            &:focus {
                transition: transform 300ms ease-in-out;
                transform: translateY(-0.25em);
            }

            &:hover a,
            &:focus a {
                color: $offWhite;
            }
        }

        .downloaded {
            color: $offBlack !important;

            svg {
                color: $offBlack;
            }

        }

        h2 {
            display: none;

            @media screen and (min-width: 768px) {
                font-weight: 700;
                font-size: 1.5rem;
                color: $offTeal;
            }

        }
    }

    .download__btn.active {
        position: fixed;
        bottom: 0;
        right: 0;
        transition: 500ms ease-in-out;
        display: none;

        @media screen and (min-width: 768px) {
            display: block;
            bottom: 4rem;
            right: 3rem;
            z-index:9999;
        }

        @media screen and (min-width: 1312px) { 
            display: flex;
            flex-direction: column-reverse;
            bottom: 8rem;
            right: 9%;
            transition: 200ms ease-in;

        }

        button {
            @media screen and (min-width: 768px) {
                height: 45px;
                width: 45px;
                padding: 0;
                border-radius: 50%;
                margin-left: 1rem;
            }

            @media screen and (min-width: 1312px) {
                height: 52px;
                width: 52px;
            }

            .span {
                @media screen and (min-width: 768px) {
                    display: none;
                }
            }

            .download {
                z-index:999999;
                @media screen and (min-width: 768px) {
                    display: block;
                    opacity: 1;
                    transform: scale(.8);
                }

                @media screen and (min-width: 1312px) {
                    transform: scale(.9);
                }

                .icon {
                    color: $offBlack;
                    @media screen and (min-width: 768px) {
                        opacity: 1;
                        width: 30px;
                        height: 30px;
                        margin-top: -.1rem;
                        margin-left: .1rem;
                    }

                    @media screen and (min-width: 1312px) {
                        margin-left: 0.08rem;
                    }
                }
            }

            &::before {
                @media screen and (min-width: 1312px) {
                    display: none;
                }
            }
            &:hover,
            &:focus {
                opacity: .7;
                @media screen and (min-width: 1312px) {
                    transform: scale(1.1);
                }
            }

            &:hover a,
            &:focus a {
                color: $offBlack;
                @media screen and (min-width: 1312px) {
                    color: $offWhite;
                }
            }
            h2 {
                @media screen and (min-width: 768px) {
                    margin-left: 0;
                    margin-bottom: 1rem;
                }
            }
        }


    }

    .clicked {

        @media screen and (min-width: 768px) {
            .download {
                display: none;
            }
        }

        @media screen and (min-width: 1312px) {
            padding: 0;
        }

        h2 {
            display: block;
            margin-left: 1rem;
            letter-spacing: 1px;
            transition: 200ms ease-in-out;
            &:hover {
                color: $lightTeal;
            }
        }

        button {
            height: 40px;
            width: 40px;
            padding: 0;
            border-radius: 50%;

            @media screen and (min-width: 1312px) {
                height: 50px;
                width: 50px;
            }

            &:hover,
            &:focus {
                transform: none;
            } 

            .icon {
                color: $offBlack;
                width:30px !important;
            }

            a {
                display: none;
            }

            &::before {
                display: none;
            }

            .download {
                @media screen and (min-width: 736px) {
                    display:none;
                }
                .icon {
                    @media screen and (min-width: 1312px) {
                        display:none;
                    }
                }
            }
            
        }
    }

    .scroll__btn {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 30px;
        margin-top: 7rem;
        margin-bottom: 1rem;
        height: 50px;
        @media screen and (min-width: 1312px) {
            display: none;
        }
        .mouse {
            display: flex;
            align-content: center;
            justify-content: center;
            padding: 8px 8px;
            height: 30px;
            border: 2px solid $offTeal;
            border-radius: 25px;
            box-sizing: content-box;

            .scroller {
                width: 9px;
                height: 9px;
                border-radius: 25px;
                background-color: $offTeal;
                animation-name: scroller;
                animation-duration: 3s;
                animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
                animation-iteration-count: infinite;
            }
        }
    }
}

@keyframes swipe-text {
    0% {
        width: 0%;
        right: 100%;
        left: 0;
    }

    50% {
        left: 0;
        width: 100%;
        right: 0%;
    }

    100% {
        width: 0%;
        left: 100%;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scroller {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}