@import '../variables.module';

.hero__section {
    display: flex;
    flex-direction: column;
    padding-top: 160px;
    background: none;
    width: 85%;
    margin: 0 auto;
    position: relative;
    @media screen and (min-width: 768px) {
        padding-top: 25vh;

        margin-bottom: 4%;
    }

    @media screen and (min-width: 1312px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 27vh;
        background: none;
        margin-left: 17.5%;
    }
    .hero__text {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        text-align: left;
        justify-content: flex-start;
        background: none;
        text-align:center;
        @media screen and (min-width: 768px) {
            margin-left: 0;
            
        }

        @media screen and (min-width: 1312px) {
            height: fit-content;
            text-align:left;
            margin-left: 0;

        }
        h2 {
            font-weight: 700;
            font-size: .9rem;
            margin-bottom: 0rem;
            @media screen and (min-width: 768px) {
                font-size: 1.1rem;
            }
        }

        .swipe__text {
            position: relative;
            width: 100%;


            
            h1 {
                font-size: $heroTitleSize;
                background: none;
                font-family: $headerFont;
                font-weight: 700;
                opacity: 0;
                animation: fade 0.01s linear 1.5s forwards;
                animation-delay: 1s;
                margin-left: -5px;
                @media screen and (min-width: 1312px) {
                    margin-top: -.5rem;
                    height: 12rem;
                    margin-bottom: -1.5rem;
                }
            }

            h3 {
                margin: 0 auto;
                margin-top: 0rem;
                text-transform: uppercase;
                letter-spacing: .3rem;
                
                width: 80%;
                font-weight: 700;
                font-size: clamp(.9rem, 3vw, 1.5rem);
                background: none;
                opacity: 0;
                color: $darkModeGrey;
                animation: fade 0.01s linear 1s forwards;
                animation-delay: 1s;

                @media screen and (min-width: 768px) {
                    
                    margin-top: -.5rem;
                    width: 60%;
                }
                @media screen and (min-width: 1312px) {
                    margin:0;
                    margin-top: .5rem;
                    width: 100%;
                }
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 100%;
                width: 0;
                bottom: 0;
                z-index: 1;
                background-color: $offTeal;
                animation: swipe-text 1s ease-in-out .5s forwards;
            }

            span {
                color: $offTeal;
            }
        }

        .secondary {
            width: 100%;
            @media screen and (min-width: 1312px) {
                width: 100%;
            }
            &::after {
                background-color: $offTeal;
            }
        }
    }

    .btn {
        margin-top: 1.5rem;
        display: flex;
        justify-content: left;
        align-items: center;
        width: fit-content;
        transition: 200ms ease-in;
        margin:0 auto;
        margin-top: 2rem;
        @media screen and (min-width: 768px) {
           
            margin-top: 1.5rem;
        }
        @media screen and (min-width: 1312px) {
            margin: 0;
            margin-top: 1.5rem;
            margin-left: .3rem;
        }
        a {
            text-decoration: none;
            padding: .4rem .8rem;
            position: relative;
            background-color: $offTeal;
            border: 1px solid $offTeal;
            color: $offWhite;
            outline: none;
            text-decoration: none;
            font-size: .9rem;
            font-weight: 600;
            border-radius: 3px;
            transition: transform 300ms ease-in-out;
            
            @media screen and (min-width: 768px) {
                font-size: 1rem;
                .download {
                    display: none;
                    opacity: 0;
                    color: $offWhite;
                }
            }

            @media screen and (min-width: 1312px) {
                    padding: .6rem 1.7rem;
                    margin-left: -.3rem;
                    font-size: 1.1rem;
            }

            .link {
                @media screen and (min-width: 1312px) {
                    text-decoration: none;
                    position: relative;
                    z-index: 99;
                }
            }

            a {
                color: $offWhite;
                text-transform:uppercase;
                transition: 300ms ease-in-out;
                text-decoration: none;
                position: relative;
                z-index: 99;
            }

            .icon {
                display:none;
                font-size:1.8rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: opacity 1s transform 1s;
                @media screen and (min-width: 768px) {
                    display:flex;
                }

            }

            .icon:nth-child(3) {
                opacity: 0;
            }

            &::before {
                content: '';
                position: absolute;
                outline: none;
                border: none;
                top: 0;
                left: 0;
                bottom: 2px;
                right: 0;
                z-index: -1;
                background-color: $offBlack;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 300ms ease-in-out;
            }

            &:hover::before,
            &:focus::before {
                transform: scaleX(1);
            }

            &:hover,
            &:focus {
                transition: transform 300ms ease-in-out;
                transform: translateY(-0.25em);
            }

            &:hover,
            &:focus  {
                color: $offTeal;
            }
        }

        .downloaded {
            color: $offBlack !important;

            svg {
                color: $offBlack;
            }

        }

        h2 {
            display: none;

            @media screen and (min-width: 768px) {
                font-weight: 700;
                font-size: 1.5rem;
                color: $offTeal;
            }

        }
    }

    .clicked {
        
        @media screen and (min-width: 768px) {
            .download {
                display: none;
            }
        }

        @media screen and (min-width: 1312px) {
            bottom:1.5rem;
        }

        h2 {
            display: block;
            margin-left: 1rem;
            letter-spacing: 1px;
            transition: 200ms ease-in-out;
            color: $offTeal;
            font-weight:700;
            &:hover {
                color: $lightTeal;
            }
        }

        button {
            height: 40px;
            width: 40px;
            padding: 0;
            border-radius: 50%;

            @media screen and (min-width: 1312px) {
                height: 50px;
                width: 50px;
            }

            &:hover,
            &:focus {
                transform: none;
            } 

            .icon {
                color: $offBlack;
                width:30px !important;
                display:flex;
            }

            a {
                display: none;
            }

            &::before {
                display: none;
            }

            .download {
                @media screen and (min-width: 736px) {
                    display:none;
                }
                .icon {
                    @media screen and (min-width: 1312px) {
                        display:none;
                    }
                }
            }
            
        }
    }

    .arrow {
        display:flex;
        justify-content:center;
        margin-top: 40px;
        position:relative;
        @media screen and (min-width: 768px) {
            margin-top: 48px;
        }
        @media screen and (min-width: 1312px) {
            margin-top: 55px;
        }
        .shaft {
            display:flex;
            justify-self:center;
            align-self: center;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            width: 2px;
            background-color:white;
            animation: extend 1s linear infinite;
            animation-play-state: paused;
            animation-delay: calc(var(--scroll) * -1s);
            @media screen and (min-width: 768px) {
                width: 2px;
                animation: extendMid 1s linear infinite;
                animation-play-state: paused;
                animation-delay: calc(var(--scroll) * -1s);
            }
            @media screen and (min-width: 1312px) {
                margin:0;
                animation: extendBig 1s linear infinite;
                animation-play-state: paused;
                animation-delay: calc(var(--scroll) * -1s);
            }
            .head {
                position:relative;
                span {
                    position: absolute;
                    bottom:0;
                    width: 2px;
                    height: 12px;
                    background-color: white;
                    transform: translateY(1px) translateX(2.9px) rotate(30deg);
                    @media screen and (min-width: 768px) {
                        width: 2px;
                        height: 12px;
                    }
                    &:nth-child(2) {
                        transform: translateY(1px) translateX(-2.9px) rotate(-30deg);
                    }
                }
            }
        }
        
    }
    
    .scroll__btn {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 30px;
        margin:0 auto;
        margin-top: 8rem;
        margin-bottom: 1rem;
        height: 50px;
        @media screen and (min-width: 768px) {
            margin:0;
            margin-top: 5rem;
            margin-bottom: 1rem;
        }
        .mouse {
            display: flex;
            align-content: center;
            justify-content: center;
            padding: 7px 7px;
            height: 25px;
            border: 2px solid $offTeal;
            border-radius: 25px;
            box-sizing: content-box;
            @media screen and (min-width: 1312px) {
                padding: 8px 8px;
                height: 30px;
            }
            .scroller {
                width: 7px;
                height: 7px;
                border-radius: 25px;
                background-color: $offTeal;
                animation-name: scroller;
                animation-duration: 3s;
                animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
                animation-iteration-count: infinite;
                @media screen and (min-width: 1312px) {
                    width: 9px;
                    height: 9px;
                }
            }
        }
    }
    img {
        right:0 !important;
    }
}

@keyframes swipe-text {
    0% {
        width: 0%;
        right: 100%;
        left: 0;
    }

    50% {
        left: 0;
        width: 100%;
        right: 0%;
    }

    100% {
        width: 0%;
        left: 100%;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scroller {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

.blobbieHolder {
    position: absolute;
    right:0;
    bottom:0;
    height:50%;
    min-height:50%;
    min-width:50%;
}

@keyframes extend {
    0% {
      height: 50px;
    }
    10% {
      height: 150px;
    }
  }

@keyframes extendMid {
0% {
    height: 100px;
}
25% {
    height: 250px;
}
}

@keyframes extendBig {
    0% {
        height: 100px;
    }
    25% {
        height: 250px;
    }
}