.projectsSection {
    display:flex;
    justify-content: center;
    gap: 0px;
    width: 65%;
    @media screen and (min-width: 768px) {
        padding-top: 0rem;
    }
    @media screen and (min-width: 1312px) {
        padding-top:15rem;
        margin: 0 auto;
        margin-top: -8rem;
    }
    .projects {
        display: grid; 
        width: 100%;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        
        gap: 3rem;
    }
}