@import '../variables.module';

.projectsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 85%;
    margin: 0 auto;
    text-align:center;
    @media screen and (min-width: 768px) {
        text-align: left;
        padding-top: 0rem;
    }
    @media screen and (min-width: 1312px) {
        padding-top:8rem;
        margin-top: -8rem;
    }
    
    .projectsTitle {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding-top:3rem;
        @media screen and (min-width: 768px) {
            width: 82%;
            margin:0;
        }
        @media screen and (min-width: 1312px) {
            width: 77%;
            margin-top: -2rem;
            padding: 0;
        }
        p {
            margin:0 auto;
            margin-top: 2rem;
            font-size: $bodyFontSize;
            font-weight: 400;
            color: $darkModeGrey;
            line-height: 1.6;
            
            width: 80%;
            @media screen and (min-width: 768px) {
                margin: 0;
                margin-left: .5rem;
                width: 100%;
                margin-top: 2rem;
                text-align:center;
            }

            @media screen and (min-width: 1312px) {
                margin-left: 0;
                text-align:left;
                width: 65%;
            }

            span {
                font-weight: 700;
                color: $offTeal;
            }
        }
    }

    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
        grid-row-gap: 0;
        
        @media screen and (min-width: 768px) {
            margin-top: 3rem;
        }
        @media screen and (min-width: 1312px) {
            width: 77%;
            margin-top: 3rem;
        }

    }
}

@media screen and (min-width: 1312px) {
    .projects__section {
        position: relative;

        .projects__header {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding-top: 0;
            margin: 0 auto;
            p {
                width: 100%;
            }
        }

        .projects {
            margin-top: 6rem;
            display: flex;
            justify-content: flex-start;
            width: 65%;

            .reverse {
                flex-direction: row-reverse;

                .project__text {
                    margin-left: 0;

                    p {
                        width: 85%;
                    }
                }
            }
        }
    }
}