@import '../variables.module';

.projects__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    .projects__header {
        padding-top: 6rem;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: 0 auto;
        margin-bottom: 2rem;
        h1 {
            position:relative;
            font-family: $headerFont;
            font-weight: 700;
            color: currentColor;
            font-size: $headerFontSize;
            &::after {
                content: '';
                position: absolute;
                bottom: -1rem;
                left: 0;
                height: .8rem;
                width: 4rem;
                border-radius: 2rem;
                background-color: $offTeal;
            }
        }
        p {
            width: 100%;
            font-size: $mobileBodyFontSize;
            font-weight: 400;
            color: $darkModeGrey;
            margin-top: $mobileHeaderMargin;
            span {
                color: $offTeal;
            }
        }
    }
    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        grid-row-gap: 0;
        @media screen and (min-width: 768px) {
            margin-top: 3rem;
        }

        
    }
}


@media screen and (min-width: 768px) {
    .projects__section {
        text-align: left;
        padding-top: 0rem;
        .projects__header {
            text-align: left;
            justify-content: flex-start;
            align-items: flex-start;
            width: 70%;
            h1 {
                padding: 0;
                margin-left: 0;
                &::after {
                    bottom: -.4rem;
                }
            }
            p {
                margin-top: $headerMargin;
            }
        }
        .projects {
            margin-top: 5rem;
            grid-template-columns: 1fr;
            width: 70%;
            justify-content: center;
            grid-row-gap: 5rem;
            grid-column-gap: 2.5rem;
            
        }
    }

}

@media screen and (min-width: 1312px) {
    .projects__section {
        position: relative;
        margin-top: -2rem;
        padding-top: 9rem;
        .projects__header {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding-top: 0;
            width: 65%;
            margin: 0 auto;
            h1 {

            }
            p {
                width: 100%;
            }
        }
        .projects {
            margin-top: 6rem;
            display: flex;
            justify-content: flex-start;
            width: 65%;
            
            .reverse {
                flex-direction: row-reverse;
                .project__text {
                    margin-left: 0;
                    p {
                        width: 85%;
                    }
                }
            }
            .illume {
                height: 22rem;
            }
        }
    }
}