@import '../variables.module';

.skillsSection {
    width: 85%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-width: 250px;
    padding-bottom: 1.5rem;
    margin-bottom: 3rem;
    text-align: center;
    background-color: $lightModeGrey;
    border-radius: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 300ms ease-in-out;
    border-radius: .25rem !important;
    filter: drop-shadow(0 0 0.2rem rgb(113, 219, 212));
    max-width: 300px;
    @media screen and (min-width: 768px) {
        width: 100%;
        margin-bottom: 0;
        max-width: 100%;
    }

    @media screen and (min-width: 1312px) {
        width: 100%;
        height: 100%;
        padding-bottom: 1rem;
    }

    &:nth-child(2) {
        .skillsIcon {
            font-size: 2.2rem;
            padding: .2rem 0 .5rem 0;
        }
    }

    &:nth-child(3) {
        .skillsIcon {
            font-size: 2.8rem;
            margin: 1rem 0;
        }
        @media screen and (min-width: 768px) {
            margin-top: 3rem;
        }
        
        @media screen and (min-width: 1312px) {
            margin-top: 0;
        }
    }
    &:hover {
        filter: drop-shadow(0 0 0.5rem rgb(113, 219, 212));
        opacity:1;
    }

    .skillsIcon {
        position: relative;
        color: $offTeal;
        font-size: 2.5rem;
        border-radius: 50%;
        margin: 1.2rem 0;
    }

    .skillsHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -2rem;
        color: $offWhite;

        @media screen and (min-width: 1312px) {
            margin-top: -2.75rem;
            align-items: center;
        }

        h2 {
            font-family: 'Helvetica Neue', sans-serif;
            font-weight: 600;
            margin-top: .8rem;
            color: $offWhite;
            font-size: 1.4rem;
            @media screen and (min-width: 768px) {
                font-size: 1.5rem;
            }

            @media screen and (min-width: 1312px) {
                font-size: 1.5rem;
                margin-top: 1.5rem;
            }
        }

        p {
            margin-top: 1rem;
            font-size: $bodyFontSize;
            color: $darkModeGrey;
            width: 75%;
            line-height: 1.6;
            font-weight: 400;

            @media screen and (min-width: 1312px) {
                font-size: .9rem;
                width: 65%;
            }
        }
    }

    .skillsSubSection {
        color: lightgrey;

        h3 {
            margin-top: 1rem;
            font-weight: 600;
            position: relative;
            @media screen and (min-width: 768px) {
                font-size: 1.1rem;
            }
        }

        .skills {
            margin: 1rem auto;

            @media screen and (min-width: 1312px) {
                margin: 1.5rem auto;
            }

            h3 {
                color: $offWhite;
            }

            h2 {
                font-size: $bodyFontSize;
                opacity: 0.8;
                font-weight: 500;
                margin: .3rem auto;
            }
        }

        .extras {
            margin: 1rem auto;

            h2 {
                font-size: $bodyFontSize;
                opacity: 0.8;
                font-weight: 500;
                margin: .3rem auto;
            }
        }
    }
}