@import '../variables.module';

$skillsHeaderFontSize: 2.2rem;
$toolsHeaderFontSize: 1.2rem;

.skillsRow {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    margin-top: -1rem;
    height: 100%;
    padding-top: 3rem;
    position: relative;
    
    @media screen and (min-width: 768px) {
        padding-bottom: 8rem;
        margin-top: 0;
        padding-top: 2rem;
    }

    @media screen and (min-width: 1312px) {
        padding-top:8rem;
        margin-top: -3rem;
        padding-bottom:0;
        width: 100%;
    }

    .skillsHeader {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1rem;
        text-align:center;
        @media screen and (min-width: 768px) {
            width: 82%;

        }

        @media screen and (min-width: 1312px) {
            width:65.5%;
        }
        span {
            color: $offTeal;
            font-size:1.2rem;
            font-weight:700;
        }

        p {
            width: 100%;
            font-size: $bodyFontSize;
            font-weight: 400;
            color: $darkModeGrey;
            margin-top: $mobileHeaderMargin;
            margin-top: 2rem;
            line-height: 1.6;
            @media screen and (min-width: 1312px) {
                text-align:left;
            }
            span {
                color: $offTeal;
                font-size: $bodyFontSize;
            }

        }
    }

    .skillsContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-top: 3rem;

        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: flex-start;
            justify-content: center;
            width:82%;
            margin: 3rem auto 0 auto;
            gap: 5%;
            max-width: 700px;
        }

        @media screen and (min-width: 1312px) {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1.5rem;
            grid-column-gap: 10%;
            margin: 4rem auto 0 auto;
            width: 65%;
            
            max-width:fit-content;
        }
    }
}

@media screen and (min-width: 1312px) {
    .skills__row {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: -5rem;
        padding-top: 9rem;

        .bg__skills {
            font-size: 35rem;
            opacity: .01;
            top: -10rem;
            left: 30rem;
        }

        .skills__header {
            justify-content: flex-start;
            align-items: flex-start;
            text-align: left;
            width: 65%;
            margin: 0 auto 4rem auto;

            h1 {
                width: 100%;
            }

            p {
                text-align: left;
                width: 100%;
            }
        }

    }
}