@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@import './components/NavOverlay.module.scss';
@import './components/AltNavOverlay.module.scss';
@import './components/Modal.module.scss';
@import './components/GetInTouch.module.scss';
@import './components/Background.module.scss';
@import './components/Hero.module.scss';
@import './components/About.module.scss';
@import './components/Projects.module.scss';
@import './components/Project.module.scss';
@import './components/Carousel.module.scss';
@import './components/Skills.module.scss';
@import './components/Contact.module.scss';
@import './components/Footer.module.scss';

.arrowBig {
  position:absolute;
  width:450px;
  right: 22%;
  top:9%;
}

#_next {
  position: relative;
  height:100%;
  min-height: 75vh;
}

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  cursor: none;
}

html {
  scrollbar-width: big;
  scrollbar-color: $offTeal $offBlack;
}

html::-webkit-scrollbar {
  width: 10px;
}

a {
  color:white;
  text-decoration:none;
}

body {
  background-color: $offBlack;
  // background: linear-gradient(109.6deg, rgb(8, 10, 16) 11.2%, rgb(7, 16, 21) 51.2%, rgb(0, 0, 0) 98.6%);
  color: $offWhite;
  transition: 200ms ease-in-out;
  position:relative;
  margin: 0;
  padding: 0;
  $accentColor: $offTeal;
  $textColor: $darkModeGrey;
  min-height: 75vh;
  overflow-x:hidden;
}


// CURSOR 

.link-focus {
  border: 1px solid $offTeal;
  opacity: .7;
  transform: scale(1.2);
  animation: none;
  transition: background-color 200ms ease-in;
  background-color: $offTeal;
}

.projectFocus {
  border: 1px solid $offTeal;
  opacity: 1;
  transform: scale(1.8);
  animation: none;
  transition: background-color 200ms ease-in;
  background-color: $offTeal;

}

.carouselFocus {
  border: 1px solid $offTeal;
  opacity: 1;
  transform: scale(1.5);
  animation: none;
  transition: background-color 200ms ease-in;
  background-color: $offTeal;
}

.link {
  text-decoration: none;
  color: currentColor;
}


.hideProject {
  opacity:0;
  filter: blur(3px);
  transform: translateY(20%);
  transition: 1s ease !important;
}

.showProject {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: 1s ease !important;
}

.hideSkills {
  opacity:0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: 1.5s ease !important;
}

.showSkills {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: 1.5s ease !important;
  &:nth-child(2) {
    transition-delay: 200ms !important;
  }
  &:nth-child(3) {
    transition-delay: 400ms !important;
  }
}
