@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Poppins:wght@200;300;400;500;600;700&display=swap');


$offBlack: #101010;
$offWhite: #ffffff;
$lightModeGrey: #373737;
$darkModeGrey:  #cccccc;
$offRed: #f08080;
$offTeal: #71DBD4;
$lightTeal: #a7fff9;

$headerMargin: 2rem;
$mobileHeaderMargin: 3rem;
$headerFont: 'Poppins';

// MOBILE

$heroTitleSize: clamp(4rem, 12vw, 8rem); 
$headerFontSize: clamp(2rem, 5.5vw, 3rem); 

$mobileBodyFontSize: .95rem;
