@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Poppins:wght@200;300;400;500;600;700&display=swap');


$offBlack: #0f0c0c;
$offWhite: #f7f7f7;
$lightModeGrey: #313131;
$darkModeGrey:  #cccccc;
$offRed: #f08080;
$offTeal: #71DBD4;
$lightTeal: #a7fff9;

$possibleTeal: #91eeca;

$headerMargin: 2rem;
$mobileHeaderMargin: 3rem;
$headerFont: 'Poppins', sans-serif;
  

// MOBILE

$heroTitleSize: clamp(1.6rem, 4vw, 3.5rem); 
$headerFontSize: clamp(1.5rem, 4vw, 2.5rem); 
$bodyFontSize : clamp(.85rem, 1vw, 16px);

$mobileBodyFontSize: .95rem;